* {
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    height: 50px;
    background-color: rgb(140, 0, 255);
    text-align:center;
}
.rodape {
    text-align: center;
}
@media screen and (min-width: 768px){
   .menu {
    height: 100px;
    background-color: rgb(255, 47, 144)
   }
}
@media screen and (min-width: 128px) {
    .menu {
        height: 100px;
        background-color: rgb(131, 80, 248);
        color: white;
        font-size: 40px;
       }
}
.logo{
    display: inline-block;
    color: var(--fundo);
    font-size: 10px;
   
 }
 #logo{
   height: 10vh;
   padding: 5px 5px;
 }