.preto {
    width: 100ww;
    background-color: rgb(255, 0, 191);
    color: white;
    grid-area: preto;
    height: 10vh;
}
.rosa{
    width: 100ww;
    background-color: rgb(255, 0, 98);
    grid-area: rosa;
    height: 20vh;
}
.vermelho{
    width: 100ww;
    background-color: rgb(140, 0, 255);
    grid-area: vermelho;
    height: 40vh;
}
.verde {
    width: 100ww;
    background-color: rgb(0, 183, 255);
    grid-area: verde;
    height: 30vh;
}
.cinza {
    width: 100ww;
    background-color: #ff00aa;
    grid-area: cinza;
    height: 70vh;
}
.azul {
    width: 100ww;
    background-color: rgb(98, 0, 255);
    grid-area: azul;
    height: 70vh;
}
.site {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-areas: 
        "rosa rosa rosa"
        "azul cinza verde"
        "azul cinza vermelho"
        "preto preto preto";
}